@import "global";
@import "mixin";
@import "media";

#header {
  background: #F4F6FF;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 99;

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .navbar {
    @include between();

    &--nav {

      a {
        font-weight: 700;
        font-size: 16px;
        color: #666666;
        padding: 0 20px;
      }

      button {
        @include btn();
      }
    }
  }
}

#hero {
  background: #F4F6FF;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--general {
      padding-top: 150px;

      h3 {
        font-weight: 700;
        font-size: 16px;
        color: #666666;
      }

      h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        color: #474747;
        padding-top: 12px;
        padding-bottom: 30px;

        span {
          color: #0600AE;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #666666;
        padding-bottom: 88px;
      }

      &__group {
        @include around();
        width: 970px;
        height: 101px;
        background: #FAFAFB;
        border-radius: 16px;
        position: absolute;

        &--location {
          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #666666;
          }

          input {
            width: 167px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 8px;
            border: none;
            padding-left: 5px;
          }
        }

        &--in {
          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #666666;
          }

          input {
            width: 167px;
            height: 38px;
            border: none;
            background: #FFFFFF;
            border-radius: 8px;
            padding-left: 5px;
          }
        }

        &--out {
          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #666666;
          }

          input {
            width: 167px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 8px;
            border: none;
            padding-left: 5px;
          }
        }

        &--adult {
          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #666666;
          }

          input {
            width: 70px;
            height: 38px;
            border: none;
            background: #FFFFFF;
            border-radius: 8px;
            padding-left: 5px;
          }
        }

        &--child {
          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #666666;
          }

          input {
            width: 70px;
            height: 38px;
            border: none;
            background: #FFFFFF;
            border-radius: 8px;
            padding-left: 5px;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 50px;
          background: #0600AE;
          border-radius: 8px;
          font-weight: 700;
          font-size: 16px;
          color: #FFFFFF;
          border: none;
          cursor: pointer;

          a {
            padding-left: 5px;
            font-size: 18px;
          }

          transition: .4s;

          &:hover {
            background: #415ad2;
          }
        }
      }
    }

    &--img {
      width: 55%;
      padding-bottom: 30px;
    }
  }
}

#customer {
  .customer {
    @include around();
    padding-top: 76px;

    &--group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      h4 {
        font-weight: 400;
        font-size: 14px;
        color: #474747;
        padding-bottom: 14px;
      }

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 52px;
        color: #474747;
        padding-bottom: 14px;
      }

      p {
        width: 570px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #666666;
      }

      &__team {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 14px;

        h2 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
          padding-right: 127px;
        }

        h3 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
        }
      }

      &__safety {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12px;

        h2 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
          padding-right: 92px;
        }

        h3 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
        }

      }

      &__pack {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 28px;

        h2 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
          padding-right: 123px;
        }

        h3 {
          font-weight: 700;
          font-size: 16px;
          color: #474747;
        }
      }

      button {
        @include btn();
      }
    }
  }
}

#services {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

    h2 {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #666666;
    }

    h1 {
      padding-top: 12px;
      padding-bottom: 14px;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      color: #474747;
    }

    p {
      width: 865px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #666666;
      margin-bottom: 50px;
    }
  }

  .block {
    @include around();
    padding-bottom: 120px;

    &--first {
      @include column();
      width: 270px;
      height: 388px;
      background: #f5f2f2;
      border-radius: 0 0 50px 50px;
      transition: .4s;

      img {
        padding-top: 36px;
      }

      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #474747;
        padding: 20px 0;
      }

      p {
        width: 232px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #666666;
        margin-bottom: 37px;

      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: #666666;
        border: none;
        cursor: pointer;
        background: transparent;

        a {
          padding-left: 12px;
          color: #666666;
          font-size: 25px;
        }

      }

      &:hover {
        transform: scale(1.05);
        background: #f6f5f5;
        border-radius: 0 0 50px 50px;

        button {
          color: #1F39BA;

          a {
            color: #1F39BA;
          }
        }
      }
    }

    &--second {
      @include column();
      width: 270px;
      height: 388px;
      background: #f5f2f2;
      border-radius: 50px 50px 0 0;
      transition: .4s;

      img {
        padding-top: 36px;
      }

      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #474747;
        padding: 20px 0;
      }

      p {
        width: 232px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #666666;
        margin-bottom: 37px;

      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: #666666;
        border: none;
        cursor: pointer;
        background: transparent;

        a {
          padding-left: 12px;
          color: #666666;
          font-size: 25px;
        }
      }

      &:hover {
        transform: scale(1.05);
        background: #f6f5f5;
        border-radius: 0 0 50px 50px;

        button {
          color: #1F39BA;

          a {
            color: #1F39BA;
          }
        }
      }
    }

    &--third {
      @include column();
      width: 270px;
      height: 388px;
      background: #f5f2f2;
      border-radius: 0 0 50px 50px;
      transition: .4s;

      img {
        padding-top: 36px;
      }

      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #474747;
        padding: 20px 0;
      }

      p {
        width: 232px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #666666;
        margin-bottom: 37px;

      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        color: #666666;
        border: none;
        background: transparent;

        a {
          padding-left: 12px;
          color: #666666;
          font-size: 25px;
        }
      }

      &:hover {
        transform: scale(1.05);
        background: #f6f5f5;
        border-radius: 0 0 50px 50px;

        button {
          color: #1F39BA;

          a {
            color: #1F39BA;
          }
        }
      }
    }

    &--fourth {
      @include column();
      width: 270px;
      height: 388px;
      background: #f5f2f2;
      border-radius: 50px 50px 0 0;
      transition: .4s;

      img {
        padding-top: 36px;
      }

      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #474747;
        padding: 20px 0;
      }

      p {
        width: 232px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #666666;
        margin-bottom: 37px;

      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        color: #666666;
        border: none;
        background: transparent;

        a {
          padding-left: 12px;
          color: #666666;
          font-size: 25px;
        }
      }

      &:hover {
        transform: scale(1.05);
        background: #f6f5f5;
        border-radius: 0 0 50px 50px;

        button {
          color: #1F39BA;

          a {
            color: #1F39BA;
          }
        }
      }
    }
  }
}

#trips {
  .trips {
    @include column();

    h2 {
      font-weight: 400;
      font-size: 14px;
      color: #474747;
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #474747;
      padding: 14px 0;
    }

    p {
      width: 970px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #666666;
      margin-bottom: 50px;
    }
  }
}

#steps {
  .steps {
    @include around();
    padding-top: 20px;

    &--one {
      @include column-start();

      h2 {
        font-weight: 700;
        font-size: 16px;
        color: #666666;
        padding-bottom: 14px;
      }

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #474747;
        padding-bottom: 14px;
      }

      p {
        width: 550px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #666666;
      }

      &__travel {
        padding-top: 34px;
        @include center();

        &--flag {
          @include center();
          width: 60px;
          height: 60px;
          background: #EA880F;
          border-radius: 8px;

          a {
            color: #FFFFFF;
            font-size: 32px;
          }
        }

        &--value {
          padding-left: 40px;

          h1 {
            font-weight: 700;
            font-size: 20px;
            color: #666666;
            padding-bottom: 10px;
          }

          p {
            width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #666666;
          }
        }
      }

      &__payment {
        @include center();
        padding: 40px 0;

        &--value {
          padding-left: 40px;

          h1 {
            font-weight: 700;
            font-size: 20px;
            color: #666666;
            padding-bottom: 10px;
          }

          p {
            width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #666666;
          }
        }
      }

      &__date {
        @include center();

        &--value {
          padding-left: 40px;

          h1 {
            font-weight: 700;
            font-size: 20px;
            color: #666666;
            padding-bottom: 10px;
          }

          p {
            width: 470px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #666666;
          }
        }
      }
    }

    &--two {
      img {
        position: relative;
      }

      &__block {
        margin-top: -100px;
        position: absolute;
        @include column-start();
        width: 277px;
        height: 156px;
        background: #ffffff;
        box-shadow: 1px 3px 5px 3px rgba(162, 160, 160, 0.15);
        border-radius: 8px;
        padding-left: 31px;

        &--price {
          padding-top: 21px;
          @include around();

          h1 {
            font-weight: 700;
            font-size: 16px;
            color: #474747;
            padding-right: 46px;
          }

          h2 {
            font-weight: 700;
            font-size: 16px;
            color: #DB6300;
          }
        }

        p {
          font-weight: 400;
          font-size: 8px;
          color: #666666;
          padding: 8px 0;
        }

        &--star {
          padding-bottom: 23px;
          @include around();

          &__five {
            a {
              color: #EEAA2B;
            }
          }

          h3 {
            padding-left: 11px;
            font-weight: 400;
            font-size: 14px;
            color: #CACACA;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          font-size: 15px;
          color: #666666;
          border: none;
          cursor: pointer;
          background: transparent;
          transition: .4s;

          a {
            padding-left: 12px;
            color: #666666;
            font-size: 25px;
          }

          &:hover {
            color: #415ad2;
          }

        }
      }

      &__comment {
        @include around();
        position: absolute;
        margin-top: -530px;
        margin-left: 420px;
        width: 180px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 8px;

        &--group {
          @include column-start();

          a {
            color: #3793d8;
          }

          h1 {
            padding-top: 2px;
            padding-bottom: 3px;
            font-weight: 700;
            font-size: 10px;
            color: #474A4D;
          }

          p {
            font-weight: 400;
            font-size: 8px;
            color: #8C8C8C;
            padding-bottom: 6px;
          }

          &__star {
            a {
              color: #8C8C8C;
            }
          }
        }
      }

      &__comments {
        @include around();
        position: absolute;
        margin-top: -440px;
        margin-left: 420px;
        width: 180px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 8px;

        &--group {
          @include column-start();

          a {
            color: #3793d8;
          }

          h1 {
            padding-top: 2px;
            padding-bottom: 3px;
            font-weight: 700;
            font-size: 10px;
            color: #474A4D;
          }

          p {
            font-weight: 400;
            font-size: 8px;
            color: #8C8C8C;
            padding-bottom: 6px;
          }

          &__stars {
            a {
              color: #8C8C8C;
            }
          }
        }
      }

      &__icon {
        a {
          position: absolute;
          margin-top: -180px;
          margin-left: 70px;
          font-size: 30px;
          color: #E6E6E6;
        }
      }

      &__circle {
        position: absolute;
        margin-top: -280px;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        background: #FFE0DC;
        opacity: 0.6;
      }

      &__image {
        img {
          position: absolute;
          margin-left: 450px;
          margin-top: -50px;
        }
      }
    }
  }

}

#tourists {
  .tourists {
    @include column();
    padding-top: 180px;
    padding-bottom: 80px;

    h2 {
      font-weight: 400;
      font-size: 16px;
      color: #666666;
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      padding-top: 10px;
      padding-bottom: 14px;
      color: #474747;
    }

    p {
      width: 865px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #666666;
    }
  }

  .georges {
    @include around();

    &--images {
      &__img {
        position: relative;
      }

      &__union {
        position: absolute;
        margin-top: 300px;
        margin-left: -480px;
      }

      &__vector {
        position: absolute;
        margin-top: -25px;
        margin-left: -180px;
      }

      &__circle {
        width: 154px;
        height: 154px;
        border-radius: 50%;
        background: #0600AE;
        position: absolute;
        margin-top: -485px;
        margin-left: -100px;
      }
    }

    &--block {
      p {
        width: 570px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #666666;
        margin-top: 15px;
        margin-bottom: 30px;
      }

      h1 {
        font-weight: 700;
        font-size: 16px;
        color: #3793D8;
      }

      h3 {
        padding-top: 5px;
        padding-bottom: 6px;
        font-weight: 400;
        font-size: 14px;
        color: #666666;
      }

      &__stars {
        @include center();

        &--star {
          padding-right: 445px;

          a {
            color: #EEAA2B;
          }
        }
      }
    }
  }
}

#touch {
  .touch {
    padding-top: 130px;
    padding-bottom: 80px;
    @include column();

    h3 {
      font-weight: 400;
      font-size: 14px;
      color: #474747;
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #474747;
      padding-top: 10px;
      padding-bottom: 14px;
    }

    p {
      width: 865px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #666666;
    }
  }

  .inputs {
    @include around();
    padding-bottom: 90px;

    &--group {
      @include column-start();
      padding-left: 66px;
      width: 500px;
      height: 450px;
      background: #F5F2F2;
      opacity: 0.8;
      border-radius: 24px;

      input {
        background: transparent;
        border: none;
        bottom: 1px solid #CACACA;
        outline: none;
        margin: 40px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #5d0505;
      }

      button {
        @include btn();
      }
    }
  }
}

#footer {
  background: url("../img/Group 253.png") no-repeat center/cover;
  min-height: 80vh;

  .footer {
    @include column();
    padding-top: 55px;
    padding-bottom: 85px;

    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
    }

    p {
      width: 770px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 22px;
      margin-bottom: 35px;
    }

    &--inputs {
      width: 770px;
      height: 80px;
      background: #FFFBFA;
      border-radius: 16px;
      @include between();

      input {
        border: none;
        background: transparent;
        outline: none;
        margin-left: 20px;
      }

      button {
        @include btn();
        margin-right: 20px;
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--pro {
      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding-bottom: 17px;
      }

      p {
        width: 297px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
      }
    }

    &--group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &__company {
        padding-left: 150px;
        @include column-start();

        h1 {
          font-weight: 700;
          font-size: 20px;
          color: #FFFFFF;
          padding-bottom: 30px;
        }

        a {
          font-weight: 400;
          cursor: pointer;
          font-size: 14px;
          line-height: 30px;
          color: #FFFFFF;
        }
      }

      &__contact {
        padding-left: 150px;

        h1 {
          font-weight: 700;
          font-size: 20px;
          padding-bottom: 30px;
          color: #FFFFFF;
        }

        &--one {
          display: flex;
          padding-bottom: 9px;

          a {
            color: #FFFFFF;
            font-size: 20px;
            cursor: pointer;
          }

          p {
            padding-left: 17px;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
          }
        }

        &--two {
          a {
            cursor: pointer;
            padding-right: 10px;
            font-size: 25px;
            color: #FFFFFF;

            ion-icon {
              transition: .4s;

              &:hover {
                transform: scale(1.2);
                color: #5d0505;
              }
            }
          }
        }
      }
    }

  }

  .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 20px;

    &--white {
      width: 1016px;
      height: 0;
      border: 1px solid #FFFFFF;
      margin-bottom: 17px;
    }

    &--paragraph {
      p {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}
